@model WineS.ViewModels.ProductListViewModel
@{
    ViewBag.Title = "ConcreteProductPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
<div class="products-page">
    <div class="products">
        <div class="product-listy">
            <h2>Категории</h2>
            <ul class="product-list">
                <li><a href="@Url.Action("List", "Product", new {CategoryName = "Блузы и рубашки"})">Блузы и рубашки</a></li>
                <li><a href="@Url.Action("List", "Product", new {CategoryName = "Платья и сарафаны"})">Платья и сарафаны</a></li>
                <li><a href="@Url.Action("List", "Product", new {CategoryName = "Пиджаки и костюмы"})">Пиджаки и костюмы</a></li>
                <li><a href="@Url.Action("List", "Product", new {CategoryName = "Толстовки и свитшоты"})">Толстовки и свитшоты</a></li>
                <li><a href="@Url.Action("List", "Product", new {CategoryName = "Футболки и поло"})">Футболки и поло</a></li>
                <li><a href="@Url.Action("List", "Product", new {CategoryName = "Топы и майки"})">Топы и майки</a></li>
                <li><a href="@Url.Action("List", "Product", new {CategoryName = "Брюки и джинсы"})">Брюки и джинсы</a></li>
                <li><a href="@Url.Action("List", "Product", new {CategoryName = "Юбки и шорты"})">Юбки и шорты</a></li>
                <li><a href="@Url.Action("List", "Product", new {CategoryName = "Верхняя одежда" })">Верхняя одежда</a></li>
                <li><a href="@Url.Action("List", "Product", new {CategoryName = "Домашняя одежда"})">Домашняя одежда</a></li>
                <li><a href="@Url.Action("List", "Product", new {CategoryName = "Нижнее белье"})">Нижнее белье</a></li>
                <li><a href="@Url.Action("List", "Product", new {CategoryName = "Спортивная одежда"})">Спортивная одежда</a></li>
            </ul>
        </div>
        <div class="latest-bis">

        </div> 	
        <div class="tags">
				    	
        </div>

    </div>
    <script>
        $('.product-list li').each(function(i,elem)
        {
            if(elem.textContent=='@Model.CategoryName')
                elem.setAttribute("style", "background: #be854c;");
        });
    </script>
<div class="new-product">
<div class="new-product-top">
    <ul class="product-top-list">
        <li><a href="@Url.Action("Main","Main")">Главная</a>&nbsp;<span>&gt;</span></li>
        <li><a href="@Url.Action("List","Product", new {CategoryName = "Каталог"})">Каталог</a>&nbsp;<span>&gt;</span></li><li><a href="@Url.Action("List","Product", new{CategoryName = @Model.CategoryName})">@Model.CategoryName.ToString()</a>&nbsp;<span>&gt;</span></li>
        <li><span class="act">@Model.product.Title</span>&nbsp;</li>
    </ul>
    <div class="clearfix"></div>
</div>
<div class="col-md-5 zoom-grid">
    <div class="flexslider">
        <ul class="slides">
            <li data-thumb="images/si.jpg">
                <div class="thumb-image"> <img src="@Url.Action("GetImage", "Product", new {gameId = Model.product.Id})" data-imagezoom="true" class="img-responsive" alt=""/> </div>
            </li>
            @*<li data-thumb="images/si1.jpg">
                <div class="thumb-image"> <img src="@Url.Action("GetImage", "Product", new {gameId = 2})" data-imagezoom="true" class="img-responsive" alt=""/> </div>
            </li>
            <li data-thumb="images/si2.jpg">
                <div class="thumb-image"> <img src="@Url.Action("GetImage", "Product", new {gameId = 3})" data-imagezoom="true" class="img-responsive" alt=""/> </div>
            </li>*@
        </ul>
    </div>
</div>
<div class="col-md-7 dress-info">
    <div class="dress-name">
        <h3>@Model.product.Title</h3>
        <span>@Model.product.Price ₽</span>
        <div class="clearfix"></div>
        <p>@Model.product.Description</p>

    </div>
    <div class="span span1">
        <p class="left">КАТЕГОРИЯ</p>
        <p class="right">@Model.CategoryName</p>
        <div class="clearfix"></div>
    </div>
    <div class="span span2">
        <p class="left">ПРОИЗВЕДЕНО</p>
        <p class="right">@Model.product.Manufacturer</p>
        <div class="clearfix"></div>
    </div>
    <div class="span span3">
        <p class="left">ЦВЕТ</p>
        <p class="right">@Model.product.Color</p>
        <div class="clearfix"></div>
    </div>

    @using (Ajax.BeginForm("AddToCart", "Cart", new {returnUrl = Request.Url.PathAndQuery, Id = Model.product.Id}, new AjaxOptions {UpdateTargetId = "ajaxexampl"}, new {@id = "ajaxForm"}))
    {
        <div class="span span4">
            <p class="left">РАЗМЕР</p>
            <p class="right">
                @*@Html.DropDownListFor(m => m.PageSize, Model.PageSizeList, new { id = "pageItems" })*@
                @Html.DropDownListFor(m => m.Size, Model.SizeList, new {@class = "selection-box", @id = "sizedrop"})
                @*<span class="selection-box">
                            <select class="domains valid" name="domains">
                                <option>M</option>
                                <option>L</option>
                                <option>XL</option>
                                <option>FS</option>
                                <option>S</option>
                            </select>
                        </span>*@
            </p>
            <div class="clearfix"></div>
        </div>
        <div class="purchase">
            @*@Ajax.ActionLink("Purchase Now", "AddToCart", "Cart",
                        new {returnUrl = Request.Url.PathAndQuery, Id = Model.product.Id},
                        new AjaxOptions {UpdateTargetId = "ajaxexampl"}, new {@class = "item_add"})*@
            <div class="sub-left-right">
                <span class="item_add"><a>В КОРЗИНУ</a></span>

            </div>
            
            <script type="text/javascript">

                $(document).ready(function() {
                    $('form#ajaxForm').find('span.item_add').click(function() {
                        $('form#ajaxForm').trigger('submit');
                    });
                })


            </script>

            <div class="clearfix"></div>
        </div>
    }
    <script src="/Scripts/imagezoom.js"></script>
    <!-- FlexSlider -->
    <script defer src="/Scripts/jquery.flexslider.js"></script>
    <script>
        // Can also be used with $(document).ready()
        $(window).load(function() {
            $('.flexslider').flexslider({
                animation: "slide",
                controlNav: "thumbnails"
            });
        });
    </script>
</div>
<div class="clearfix"></div>
<div class="reviews-tabs">
    <!-- Main component for a primary marketing message or call to action -->
    <ul class="nav nav-tabs responsive hidden-xs hidden-sm" id="myTab">
        <li class="test-class active"><a class="deco-none misc-class" href="#how-to">О ТОВАРЕ</a></li>
    </ul>

    <div class="tab-content responsive hidden-xs hidden-sm">
        <div class="tab-pane active" id="how-to">
            <p class="tab-text">@Model.product.Consist</p></div>
      
</div>

</div>
        <div class="clearfix"></div>
    </div>
</div>

        @*<div class="col-md-4 product simpleCart_shelfItem text-center">
            <a href="single.html"><img src="images/p2.jpg" alt="" /></a>
            <div class="mask">
                <a href="single.html">Quick View</a>
            </div>
            <a class="product_name" href="single.html">great explorer</a>
            <p><a class="item_add" href="#"><i></i> <span class="item_price">$599.8</span></a></p>
        </div>
        <div class="col-md-4 product simpleCart_shelfItem text-center">
            <a href="single.html"><img src="images/p3.jpg" alt="" /></a>
            <div class="mask">
                <a href="single.html">Quick View</a>
            </div>
            <a class="product_name" href="single.html">similique sunt</a>
            <p><a class="item_add" href="#"><i></i> <span class="item_price">$359.6</span></a></p>
        </div>*@
        <div class="clearfix"></div>
    </div>