


@model WineS.ViewModels.CartViewModel
@{
    ViewBag.Title = "Cosily | корзина";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<div class="cart-items">
<div class="container">
    <div class="dreamcrub">
        <ul class="breadcrumbs">
            <li class="home">
                <a href="@Url.Action("Main", "Main")" title="Go to Home Page">Главная</a>&nbsp;
                <span>&gt;</span>
            </li>
            <li >
                Корзина
            </li>
        </ul>
        <ul class="previous">
            <li>@Html.ActionLink("Вернуться на предыдущую страницу", null, null, null, new { href = Request.UrlReferrer })</li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <h2>Мои товары</h2>
    <div class="cart-gd">
      
        <script>
            $(document).ready(
                function () {
                    $('.close1').on('click', function () {
                        var $this = $(this);
                             id = $(this).attr('id');
                        $.ajax({
                            url: '/Cart/RemoveFromCart',
                            type: "post",
                            cache: false,
                            data: { id: id },
                            success: function() {
                                $this.closest('.cart-header').fadeOut('slow');
                                
                            },
                            error: function(result) {
                                $(".validation-summary-errors").append("<li>Error connecting to server.</li>");
                            }
                        });
                    });
                });
        </script>
        @foreach (var line in Model.Cart.Lines)
        {
          
            <div class="cart-header" style="border: 1px solid #be854c;overflow: hidden;">
                <div class="close1", id =@line.Product.Id> </div>
                <div class="cart-sec simpleCart_shelfItem">
                    <div class="cart-item cyc">
                        <img src="@Url.Action("GetImage", "Product", new {gameId = line.Product.Id})" class="img-responsive" alt="">
                    </div>
                    <div class="cart-item-info">
                        <h3> @line.Product.Title</h3>
                        <h3 style="height: 39px;"> <p class="left">ЦЕНА</p>
                            <p class="right">@line.Product.Price ₽</p></h3>
                        <h3 style=" height: 39px;">
                            <p class="left">РАЗМЕР</p>
                            <p class="right">@line.Size</p></h3>
                        <h3 style="
                                         height: 39px; padding-top: 50 px;
                                     ">
                            <p class="left">ИТОГО</p>
                            <p class="right">@line.Product.Price ₽</p></h3>

                    </div>
                    <div class="clearfix"></div>

                </div>
            </div>

            
         }
        <div class="purchase">
            <a href="@Url.Action("Checkout","Cart")">ЗАКАЗАТЬ</a>
        </div>
    </div>
</div>

</div>













        @*@model WineS.ViewModels.CartViewModel

            @{
                ViewBag.Title = "Ваша корзина";
            }

            <table class="table">
                <head>
                    <tr>
                        <th>Кол-во</th>
                        <th>Винцо</th>
                        <th class="text-right">Цена</th>
                        <th class="text-right">Общая цена</th>
                    </tr>
                </head>
                <tbody>
                    @foreach (var line in Model.Cart.Lines)
                    {
                        <tr>
                            <td class="text-center">@line.Quantity</td>
                            <td class="text-left">@line.Wine.Title</td>
                            <td class="text-right">@line.Wine.Price.ToString("# грн")</td>
                            <td class="text-right">
                                @((line.Quantity * line.Wine.Price).ToString("# грн"))
                            </td>
                            <td>
                                @using (Html.BeginForm("RemoveFromCart", "Cart"))
                                {
                                    @Html.Hidden("Id", line.Wine.Id)
                                    @Html.HiddenFor(x => x.ReturnUrl)
                                    <input class="btn btn-sm btn-warning" type="submit" value="Удалить" />
                                }
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3" class="text-right">Итого:</td>
                        <td class="text-right">
                            @Model.Cart.ComputeTotalValue().ToString("# грн")
                        </td>
                    </tr>
                </tfoot>
            </table>

            <div class="text-center">
                <a class="btn btn-primary" href="@Model.ReturnUrl">Продолжить покупки</a>
                @Html.ActionLink("Оформить заказ", "Checkout", null, new { @class = "btn btn-primary" })
            </div>

            </div>*@
