@model WineS.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Cosily | вход";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="/Content/style.css" rel="stylesheet" type="text/css" media="all" />
    <div class="container">
        <div class="login-page">
            <div class="dreamcrub">
                <ul class="breadcrumbs">
                    <li class="home">
                        <a href="@Url.Action("Main", "Main")" title="Go to Home Page">Главная</a>&nbsp;
                        <span>&gt;</span>
                    </li>
                    <li>
                        Вход
                    </li>
                </ul>
                <ul class="previous">
                    <li>@Html.ActionLink("Вернуться на предыдущую страницу", null, null, null, new { href = Request.UrlReferrer})</li>
                </ul>
                <div class="clearfix"></div>
            </div>
            @if (ViewBag.fromCart == true)
            {
                <h2>Sorry, but you must be authenticated</h2>
            }
            <div class="account_grid">
                <div class="col-md-6 login-right wow fadeInRight" data-wow-delay="0.4s">
                    <h3>ВХОД НА САЙТ</h3>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <form>
                            <div>
                                <input type="hidden" name="returnUrl" value="@Request.UrlReferrer" />
                                <span>Email<label></label></span>
                                @Html.EditorFor(x => x.Email)
                            </div>
                            <div>
                                <span>Пароль<label></label></span>
                                @Html.EditorFor(x => x.Password)
                            </div>
                            <a class="forgot" href="#">Забыли пароль?</a>
                            <input type="submit" value="ВХОД">
                        </form>
                    }
                    </div>
                <div class="col-md-6 login-left wow fadeInLeft" data-wow-delay="0.4s">
                    <h2>РЕГИСТРАЦИЯ</h2>
                    <p>Создав учетную запись в нашем магазине, вы сможете быстрее переходить через процесс оформления заказа, хранить несколько адресов доставки, просматривать и отслеживать свои заказы в своей учетной записи и многое другое.</p>
                    <a class="acount-btn" href="@Url.Action("Register", "Account")">ЗАРЕГИСТРИРОВАТЬСЯ</a>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>