@model WineS.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Cosily | регистрация<";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="registration-form">
    <div class="container">
        <div class="dreamcrub">
            <ul class="breadcrumbs">
                <li class="home">
                    <a href="@Url.Action("Main", "Main")" title="Go to Home Page">Главная</a>&nbsp;
                    <span>&gt;</span>
                </li>
                <li class="home">
                    Регистрация
                </li>
            </ul>
            <ul class="previous">
                <li>@Html.ActionLink("Вернуться на предыдущую страницу", null, null, null, new { href = Request.UrlReferrer })</li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <h2>РЕГИСТРАЦИЯ</h2>
        <div class="registration-grids">
            <div class="reg-form">
                <div class="reg">
                    <p>Добро пожаловать, пожалуйста, введите следующие данные, чтобы продолжить.</p>
                    <p>Если вы ранее зарегистрированы у нас, <a href="@Url.Action("Login", "Account")"> нажмите здесь.</a></p>  
                    @using (Html.BeginForm())
                    {
                        <form>
                            <ul>
                                <li class="text-info">ИМЯ: </li>
                                <li>@Html.EditorFor(model => model.FirstName)</li>
                            </ul>
                            <ul>
                                <li class="text-info">ФАМИЛИЯ: </li>
                                <li>@Html.EditorFor(model => model.LastName)</li>
                            </ul>
                            <ul>
                                <li class="text-info">Email: </li>
                                <li>@Html.EditorFor(model => model.Email)</li>
                            </ul>
                            <ul>
                                <li class="text-info">ПАРОЛЬ: </li>
                                <li>@Html.EditorFor(model => model.Password)</li>
                            </ul>
                            <ul>
                                <li class="text-info">ПОВТОРИТЕ ПАРОЛЬ:</li>
                                <li>@Html.EditorFor(model => model.PasswordConfirm)</li>
                            </ul>
                            <ul>
                                <li class="text-info">ТЕЛЕФОН:</li>
                                <li>@Html.EditorFor(model => model.Phone)</li>
                                @Html.ValidationMessageFor(model => model.Phone)
                            </ul>

                            <input type="submit" value="ЗАРЕГИСТРИРОВАТЬСЯ">
                        </form>
                    }
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
