@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <title>Cosily | интернет-магазин</title>
    <link href="~/Content/bootstrap.css" rel='stylesheet' />
    <script src="/Scripts/jquery.min.js"></script>
    <link href="~/Content/style.css" rel="stylesheet" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script type="text/javascript" src="/Scripts/bootstrap-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    @*<script src="/Scripts/simpleCart.min.js"> </script>*@
    <link rel="stylesheet" href="/Content/flexslider.css" type="text/css" media="screen" />
    <link rel="shortcut icon" href="~/favicon.ico">

    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="header">
        <div class="header-top-strip">
            <div class="container">
                <div class="header-top-left">
                    <ul>
                        @if (HttpContext.Current.User.Identity.IsAuthenticated == true)
                        {
                            var claims = ((System.Security.Claims.ClaimsIdentity)User.Identity).Claims;
                            var claim = claims.SingleOrDefault(m => m.Type == "FirstName");
                            <li><a href="@Url.Action("UserAccount", "User")"><span class="glyphicon glyphicon-user"> </span>@claim.Value</a></li>
                            <li><a href="@Url.Action("Logout", "Account")"><span class="glyphicon glyphicon-user"> </span>Выход</a></li>

                        }
                        else
                        {

                            <li><a href="@Url.Action("Login", "Account")"><span class="glyphicon glyphicon-user"> </span>Вход</a></li>

                        }
                        <li id="ajaxexampl">@Html.Action("SummaryPrice", "Cart")</li>

                    </ul>
                </div>

                <div class="header-right">
                    <div class="cart box_1">

                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- header-section-ends -->
    <div class="inner-banner">
        <div class="container" style="height: 150px;">

            <div class="logo">
                <h10>
                    <a href="@Url.Action("Main", "Main")"><img src="/images/logo.png" width="250" height="250" alt="Cosily"> </a>
                </h10>
            </div>

            <div class="banner-top inner-head">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>
                <!--/.navbar-header-->
                @*<li><a href="@Url.Action("List", "Product", new {CategoryName = "New"})">New In Clothing</a></li>
                    <li><a href="@Url.Action("Contact", "Contact")">CONTACT</a></li>*@

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">Каталог <b class="caret"></b></a>
                            <ul class="dropdown-menu multi-column columns-3">
                                <div class="row">

                                    <div class="col-sm-4">
                                        <ul class="multi-column-dropdown">
                                        <h6>Одежда</h6>
                                            <li><a href="@Url.Action("List", "Product", new {CategoryName = "Блузы и рубашки"})">Блузы и рубашки</a></li>
                                            <li><a href="@Url.Action("List", "Product", new {CategoryName = "Платья и сарафаны"})">Платья и сарафаны</a></li>
                                            <li><a href="@Url.Action("List", "Product", new {CategoryName = "Пиджаки и костюмы"})">Пиджаки и костюмы</a></li>
                                            <li><a href="@Url.Action("List", "Product", new {CategoryName = "Толстовки и свитшоты"})">Толстовки и свитшоты</a></li>
                                            <li><a href="@Url.Action("List", "Product", new {CategoryName = "Футболки и поло"})">Футболки и поло</a></li>
                                            <li><a href="@Url.Action("List", "Product", new {CategoryName = "Топы и майки"})">Топы и майки</a></li>
                                            <li><a href="@Url.Action("List", "Product", new {CategoryName = "Брюки и джинсы"})">Брюки и джинсы</a></li>
                                            <li><a href="@Url.Action("List", "Product", new {CategoryName = "Юбки и шорты"})">Юбки и шорты</a></li>
                                            <li><a href="@Url.Action("List", "Product", new {CategoryName = "Верхняя одежда" })">Верхняя одежда</a></li>
                                        </ul>
                                    </div>
                                    @*<div class="col-sm-4">
                                        <ul class="multi-column-dropdown">
                                            <h6>Обувь</h6>
                                            <li><a href="products.html">Сапоги</a></li>
                                            <li><a href="products.html">Ботильоны</a></li>
                                            <li><a href="products.html">Босоножки</a></li>
                                            <li><a href="products.html">Кроссовки</a></li>
                                            <li><a href="products.html">Кеды</a></li>
                                            <li><a href="products.html">Ботинки</a></li>
                                            <li><a href="products.html">Туфли</a></li>
                                        </ul>
                                    </div>*@
                                    <div class="col-sm-4">
                                        <ul class="multi-column-dropdown">
                                            <h6>Другое</h6>
                                            <li><a href="@Url.Action("List", "Product", new {CategoryName = "Домашняя одежда"})">Домашняя одежда</a></li>
                                            <li><a href="@Url.Action("List", "Product", new {CategoryName = "Нижнее белье"})">Нижнее белье</a></li>
                                            <li><a href="@Url.Action("List", "Product", new {CategoryName = "Спортивная одежда"})">Спортивная одежда</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </ul>
                        </li>
                        <li><a href="@Url.Action("List", "Product", new {CategoryName = "Каталог"})">Подбор</a></li>
                        <li><a href="@Url.Action("Main","Main")">Доставка</a></li>
                        <li><a href="@Url.Action("Contact","Contact")">Контакты</a></li>
                    </ul>
                </div>
                <!--/.navbar-collapse-->
            </nav>
            <!--/.navbar-->
        </div>
    </div>
    @RenderBody()
<!-- content-section-ends-here -->
<div class="news-letter">
    <div class="container">
        <div class="join">
            <h6>Рассылка обновлений</h6>
            <div class="sub-left-right">
                <form>
                    <input type="text" value="Введите ваш E-mail" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Your Email Here';}" />
                    <input type="submit" value="ПОДПИСАТЬСЯ" />
                </form>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="container">
        <div class="footer_top">
            <div class="span_of_4">
                <div class="col-md-3 span1_of_4">
                    <h4>Информация</h4>
                    <ul class="f_nav">
                        <li><a href="#">О БРЕНДЕ</a></li>
                        <li><a href="#">КОНТАКТЫ</a></li>
                        <li><a href="#">ДОСТАВКА</a></li>
                        <li><a href="#">ОБРАТНАЯ СВЯЗЬ</a></li>
                    </ul>	
                </div>
                <div class="col-md-3 span1_of_4">
                    <h4>Подписывайтесь</h4>
                    <ul class="f_nav">
                        <li><a href="https://www.instagram.com/">INSTAGRAM</a></li>
                        <li><a href="https://vk.com">VKONTAKTE</a></li>
                        <li><a href="https://twitter.com">TWITTER</a></li>
                        <li><a href="https://www.facebook.com/">FACEBOOK</a></li>
                    </ul>	
                </div>
                <div class="col-md-3 span1_of_4">
                    <h4></h4>
                    <ul class="f_nav">
						
                    </ul>					
                </div>
                <div class="col-md-3 span1_of_4">
                    <h4>оплата</h4>
                    <ul class="f_nav">
                        <li><a href="#">ИНФО</a></li>
                    </ul>			
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="cards text-center">
            <img src="/images/cards.jpg" alt="" />
        </div>
        <div class="copyright text-center">
            <p>© 2018 Cosily | Design by Tabunova</p>
        </div>
    </div>
</div>

    @*@Scripts.Render("~/bundles/jquery.min.js")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/simpleCart.min.js")*@
    @RenderSection("scripts", required: false)
</body>

</html>
