@model WineS.Entities.Product


        <a class="cbp-vm-image" href="single.html">
            <div class="simpleCart_shelfItem">
                <div class="view view-first">
                    <div class="inner_content clearfix">
                        <div class="product_image">
                            <img src="@Url.Action("GetImage", "Product",
                                          new { gameId = 1 })" class="img-responsive" alt=""/>
                            <div class="mask">
                                <div class="info">Quick View</div>
                            </div>
                            <div class="product_container">
                                <div class="cart-left">
                                    <p class="title">@Model.Title</p>
                                </div>
                                <div class="pricey"><span class="item_price">@Model.Price</span></div>
                                <div class="clearfix"></div>
                            </div>		
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <div class="cbp-vm-details">
            Silver beet shallot wakame tomatillo salsify mung bean beetroot groundnut.
        </div>
<a class="cbp-vm-icon cbp-vm-add item_add" href="@Url.Action("AddToCart", "Cart", new {Id = Model.Id, returnUrl = Request.Url.PathAndQuery })">
    
    @*@using (Html.BeginForm("AddToCart", "Cart"))
    {


        @Html.HiddenFor(x => x.Id)
        @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
        if (Model.Amount != 0)
        {
            <input type="submit" class="btn btn-success " value="Добавить в корзину" />}
        else
        {
            <input type="submit" class="btn btn-success disabled" value="Недоступно" />
        }

    }*@
    
    Add to cart
</a>
